.text{
    font-weight: bold;
}
.img{
    width:400px;
    height: 300px;
    border-radius:50%;
}
.img:hover{
    border: 2px solid;
    border-color: red;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.txt{
    padding-top: 1rem;
}
.header{
    padding-bottom: 1rem;
}
.drp{
    margin-left: 20px;
}
.hvr{
    margin-left: 15px;
}
.hvr:hover{
    background-color: white;
    transform: scale(1.1);
    transition: 0.5s ease;
    border-radius: 50%;
}
.vl {
    padding-top: 1rem;
  }
.zc:hover{
    color: azure;
    transform: scale(1.06);
    transition: 0.5s ease;
}
