.text{
    font-weight: bold;
}
.img{
    width:400px;
    height: 300px;
    border-radius:50%;
}
.img:hover{
    border: 2px solid;
    border-color: red;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.txt{
    padding-top: 1rem;
}
.header{
    padding-bottom: 1rem;
}
.drp{
    margin-left: 20px;
}
.hvr{
    margin-left: 15px;
}
.hvr:hover{
    background-color: white;
    transform: scale(1.05);
    transition: 0.5s ease;
    border-radius: 50%;
}
.vl {
    padding-top: 1rem;
  }
.zc:hover{
    color: azure;
    transform: scale(1.06);
    transition: 0.5s ease;
}

i + span{
    margin-left:20px;
  }
.mal:hover{
    transform: scale(1.05);
    transform: 0.2s ease;
}



.b {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #f5a2c8, #ffffff, #7a6da2);
    height: 100vh;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.todo-container {
    width: 45%;
    border: 1px solid #040404;
    border-width: 10px;
    padding: 10px;
    display: inline-block;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.todo-list li {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

.done-button {
    margin-left: auto;
}